# Git Ignore file

# We don't want the miscellaneous .vagrant files
.vagrant/

# We also don't want the .DS_Store
.DS_Store

# Generated some .vscode files that are not relavant to the git project
.vscode/
